/*utils */
body{
    position: relative;
}
.w-logo{
    max-width: 100px;
}

/*! main-header*/
#main-header{
    min-height: 10vh;
    min-width: 100%;

    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

#secondary-nav{
    min-height: 10vh;
    min-width: 100%;

    position: fixed;
    top:11vh;
    left:0;
    z-index: 1;
    background-color: aqua;
}



#top-header{
min-height:35px;
}

/*? navbar  */
.navbar-nav.nav-item.nav-link {
    color: #000;
    padding:4px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #0070d1;   
}

/* #first-nav .navbar-nav.nav-link:hover #secondary-nav{
    visibility: visible;    
} */
#right-nav .navbar-nav li{

   margin:0 5px ;
}
.btn-border:hover{
    /*? width display flax btn:hover causing li bounce*/
    /* border: 0.5px solid #fff; */
    box-shadow: inset 0 0 0 2px #fff;
    
}

.btn-dark:hover{
    scale:0.9;
}
/*! main > sections*/

#secondary-jumbotron .row,
#primary-jumbotron .row{
    min-height: 500px;
}

#discounts,
#social,
#secondary-console,
#gallery-dark{
    min-height: 60vh;
}

#gallery-light{
    min-height: 20vh;
}

#primary-console{
    min-height: 100vh;
}

#primary-console .row
{
    min-height: calc(80vh / 3);
}


#now,
#plus{
    min-height: 40vh;
}

#now .row,
#plus .row{
    min-height: 30vh;
}
 
#now img,
#plus img{
    max-width:100%;
}

#discounts .row,
#social .row,
#secondary-console .row
{
    min-height: 20vh;
}

#gallery-light img:hover{
    transform: translateY(-10px);
}
/*! main-footer*/
#main-footer{
    min-height: 60vh;
   
}
#main-footer .row{
    min-height: calc(60vh/2);
}

#logo{
   filter: brightness(0) invert(1);
}

#sie{
    max-width:20%;
}
/*! background images*/
.jumbo-bg-first{
    margin-top: 110px;
    background-image: url('../img/jumbo-bg.png');
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.jumbo-bg-second{

    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rounded-5{
    border-radius: 20px;
}

 #show-me img:not([class*='active-bottom']){
    filter:opacity(0.5);
}
 #show-me img:not([class*='active-bottom']):hover{
    filter:opacity(1);
}
#footer-links ul{
    padding-top: 20px;
}
/*! btn & link*/
#plus .btn.btn-link{
    text-decoration: none;
}

#main-footer li {
    list-style-type: none;
}

#footer-links li a{
    text-decoration: none;
    color: #fff;
}

.btn-border-plus:hover{
    box-shadow:  0 0 20px 2px #fff;
}
.btn-border-now:hover{
    box-shadow: inset 0 0 0 2px #161c3b;
}

.border-nav{
    box-shadow: inset 0 0 2px #bebcbb;
}

.btn-dark{
    scale:0.8;
}
/*! background color , color  & fonts*/
h1{
    font-size: 2.5em;
    font-weight: 400;
}


#gallery-dark p{
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
}
.bg-blue{
    background-color: #00439c;
}
.bg-red{
    background-color: #cd3d0f;
}
.bg-black{
    background-color: #1f1f1f;
}
.bg-beige{
    background-color: #bebcbb;
}
.bg-light-beige{
    background-color: #d9dadc;
}
.bg-dark-blue{
    background-color: #161c3b;
}

.active-card{
    border: 2px solid #0d6efd;
    padding: 2px;
}

.active-bottom{
    border-bottom: 2px solid #0d6efd;
    padding: 2px;
}

